# External shop link opened from the sidebar
SHOPLINK=https://www.dhteamsport.de/?srsltid=AfmBOoqkRE8Caq0wfHkDT2xpkrnPKy6WMyUjZ91Z-gp5YaeF9iTGv8vs

# Newsletter Database (formerly shop DB – reuse existing credentials here)
DB_NEWSLETTER_HOST=localhost
DB_NEWSLETTER_NAME=
DB_NEWSLETTER_USER=
DB_NEWSLETTER_PASS=
